<table>
    <tr>
        <th>Name</th>
        <td colspan=2>{{name}}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td colspan=2>{{damage_type}}</td>
    </tr>
    <tr>
        <th>Range</th>
        <td colspan=2>{{range}}</td>
    </tr>
    <tr>
        <th>Damage</th>
        <td colspan=2>{{damage_dice}}</td>
    </tr>
    <tr>
        <td class="center"><button onclick="loadElement('Abilities', 'abilityModify', 'abilityID', 0, 'add')">Add New</button></td>
        <td class="center"><button onclick="loadElement('Abilities', 'abilityModify', 'abilityID', {{abilityID}}, 'modify')">Modify</button></td>
        <td class="center"><button onclick="deleteAbility({{abilityID}})">Delete</button></td>
    </tr>
</table>