<table>
    <tr>
        <th>Name</th>
        <td colspan=2><input id="name" type="text" value={{name}}></td>
    </tr>
    <tr>
        <th>Type</th>
        <td colspan=2><input id="damage_type" type="text" value={{damage_type}}></td>
    </tr>
    <tr>
        <th>Range</th>
        <td colspan=2><input id="range" type="text" value={{range}}></td>
    </tr>
    <tr>
        <th>Damage</th>
        <td colspan=2><input id="damage_dice" type="text" value={{damage_dice}}></td>
    </tr>
    <tr>
        {{#if add}}
        <td><button onclick="addElement('Abilities', 'abilityList', 'abilityID', ['name', 'damage_type', 'range', 'damage_dice'])">Confirm</button></td>
        <td><button onclick="loadElement('Abilities', 'abilityDisplay', 'abilityID', {{abilityID}} )">Cancel</button></td>
        {{else}}
        <td><button>Confirm</button></td>
        <td><button onclick="loadElement('Abilities', 'abilityDisplay', 'abilityID', {{abilityID}} )">Cancel</button></td>
        {{/if}}
    </tr>
</table> 