<table>
    <tr>
        <th>Name</th>
        <td colspan=5>{{name}}</td>
    </tr>
    <tr>
        <th>Race</th>
        <td colspan=5>{{race}}</td>
    </tr>
    <tr>
        <th>Class</th>
        <td colspan=3>{{class}}</td>
        <th>Level</th>
        <td class="center">{{level}}</td>
    </tr>
    <tr>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
    </tr>
    <tr>
        <td class="center">{{strength}}</td>
        <td class="center">{{dexterity}}</td>
        <td class="center">{{constitution}}</td>
        <td class="center">{{intelligence}}</td>
        <td class="center">{{wisdom}}</td>
        <td class="center">{{charisma}}</td>
    </tr>
    <tr>
        <th>Party</th>
        <td colspan=5>  {{#if party}}
                            {{party}}
                        {{else}}
                            None
                        {{/if}}
        </td>
    </tr>
    {{#if monsters}}
    <tr>
        <th colspan=6>Monsters Encountered</th>
    </tr>
    {{#each monsters}}
    <tr>
        <th>Monster</th>
        <td colspan=4>{{this.name}}</td>
        <td class="center" colspan=1><button onclick="deleteRelationship({{characterID}}, {{monsterID}})">-</button></td>
    </tr>
    {{/each}}{{/if}}
    <tr>
        <td class="center" colspan=2><button onclick="loadCharacter(0, 'add')">Add New</button></td>
        <td class="center" colspan=2><button onclick="loadCharacter({{characterID}}, 'modify')">Modify</button></td>
        <td class="center" colspan=2><button onclick="deleteCharacter({{characterID}})">Delete</button></td>
    </tr>
</table>