<table>
    <tr>
        <th>Name</th>
        <td colspan=5><input id="name" type="text" value={{name}} ></td>
    </tr>
    <tr>
        <th>Race</th>
        <td colspan=5><input id="race" type="text" value={{race}} ></td>
    </tr>
    <tr>
        <th>Class</th>
        <td colspan=3><input id="class" type="text" value={{class}} ></td>
        <th>Level</th>
        <td class="center"><input id="level" type="number" value={{level}} min="1"></td>
    </tr>
    <tr>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
    </tr>
    <tr>
        <td class="center"><input id="strength" type="number" value={{strength}} min="1"} ></td>
        <td class="center"><input id="dexterity" type="number" value={{dexterity}} min="1"></td>
        <td class="center"><input id="constitution" type="number" value={{constitution}} min="1"></td>
        <td class="center"><input id="intelligence" type="number" value={{intelligence}} min="1"></td>
        <td class="center"><input id="wisdom" type="number" value={{wisdom}} min="1"></td>
        <td class="center"><input id="charisma" type="number" value={{charisma}} min="1"></td>
    </tr>
    <tr>
        <th>Party</th>
        <td colspan=5>
            <select id="partySelect">
                <option>None</option>
                {{#each parties}}
                <option partyID={{this.partyID}}>{{this.name}}</option>
                {{/each}}
            </select>
        </td>
    </tr>
    <tbody id="monsterSelects">
        <tr>
            <th colspan=6>Monsters Encountered <button onclick="addOption('monsterSelects', 'Monsters')">+</button></th>
        </tr>
        {{#if monsters}}
        {{#each monsters}}
        <tr id='m{{@index}}' >
            <th>Monster</th>
            <td colspan=4>
                <select class="monsterSelect">
                    <option>None</option>
                    {{#each ../allMonsters}}
                    <option monsterID={{this.monsterID}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </td>
            <td class="center">
                <button onclick="removeOption('m' + {{@index}} )">-</button>
            </td>
        </tr>
        {{/each}}{{/if}}
    </tbody>
    <tr>
        {{#if add}}
        <td class="center" colspan=3><button onclick="addCharacter()">Add Character</button></td>
        <td class="center" colspan=3><button onclick="loadCharacter({{characterID}})">Cancel</button></td>
        {{else}}
        <td class="center" colspan=3><button onclick="confirmCharacter()">Confirm Changes</button></td>
        <td class="center" colspan=3><button onclick="loadCharacter({{characterID}})">Cancel</button></td>
        {{/if}}
    </tr>
</table>