<table>
    <tr>
        <th>Name</th>
        <td colspan=8><input type="text" id="name" value={{name}}></td>
    </tr>
    <tbody id="memberSelects">
        <tr>
            <th colspan=8>Members</th>
        </tr>
        {{#each characters}}
        <tr>
            <th>Character</th>
            <td colspan=4>
                <select class="member" id="c{{@index}}">
                    <option>None</option>
                    {{#each ../allCharacters}}
                    <option characterID={{this.characterID}} >{{this.name}}</option>
                    {{/each}}
                </select>
            </td>
            <td class="center">
                <button onclick="removeOption('c' + {{@index}} )">-</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
    <tr>
        {{#if add}}
        <td class="center" colspan=3><button onclick="addParty()">Add Party</button></td>
        <td class="center" colspan=3><button onclick="loadParty({{partyID}})">Cancel</button></td>
        {{else}}
        <td class="center" colspan=3><button onclick="confirmCharacter()">Confirm Changes</button></td>
        <td class="center" colspan=3><button onclick="loadParty({{partyID}})">Cancel</button></td>
        {{/if}}
    </tr>
</table>