<table>
    <tr>
        <th>Name</th>
        <td colspan=3><input type="text" id="name" value={{name}}></td>
    </tr>
    <tr>
        <th colspan=4>Members</th>
    </tr>
    {{#if add}}
    <tr>
        <td colspan=3>
            <select class="member" id="member0">
                <option>None</option>
                {{#each allCharacters}}
                <option characterID={{this.characterID}} >{{this.name}}</option>
                {{/each}}
            </select>
        </td>
        <td class="center">
            <button onclick="removeOption('member0')">-</button>
        </td>
    </tr>
    <tr>
        <td colspan=2><button />Confirm</td>
        <td colspan=2><button onclick="loadParty({{partyID}})" />Cancel</td>
    </tr>
    {{else}}
    {{#if (equal members 0)}}
    {{else}}
    {{#each characters}}
    <tr>
        <td colspan=3>
            <select class="member" id="member{{@index}}">
                <option>None</option>
                {{#each ../allCharacters}}
                <option characterID={{this.characterID}} >{{this.name}}</option>
                {{/each}}
            </select>
        </td>
        <td class="center">
            <button onclick="removeOption('member' + {{@index}} )">-</button>
        </td>
    </tr>
    {{/each}}
    {{/if}}
    <tr>
        <td colspan=2><button />Confirm</td>
        <td colspan=2><button onclick="loadParty({{partyID}})" />Cancel</td>
    </tr>
    {{/if}}
</table>