<script src="/js/sortTable.js"></script>
<script src="/js/display.js"></script>
<script>
    var context = '{{#each abilities}} { {{#each this}}{{#unless @last}}"{{@key}}":"{{this}}", {{/unless}}{{#if @last}}"{{@key}}":"{{this}}"{{/if}}{{/each}} }, {{/each}}';
    context = context.split("},");
    context.length = context.length-1;
    for(var i = 0; i < context.length; i++) {
        context[i] = context[i] + "}";
        context[i] = context[i].replace("&#x27;", "'");
        context[i] = JSON.parse(context[i]);
    };
</script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        <table id="abilities">
            <tr>
               <form id="search-form" onsubmit="tagSearch('name', 'search-field', 'abilityID'); return false;" method="post">
                   <td colspan='3'><input id="search-field" type="text"></input></td>
                   <td><input type="submit" value="Search"></td>
                </form> 
            </tr>
            <tr>
                <td class="wrappable" colspan='4' id="filter-row">
                    <div >
                        <button onclick="filterList('abilities', 'type', 'Bludgeoning', abilityKeys)">Bludgeoning</button> 
                        <button onclick="filterList('abilities', 'type', 'Fire', abilityKeys)">Fire</button> 
                        <button onclick="filterList('abilities', 'type', 'Piercing', abilityKeys)">Piercing</button> 
                        <button onclick="filterList('abilities', 'type', 'Slashing', abilityKeys)">Slashing</button> 
                        <button onclick="filterList('abilities', 'range', 'Melee', abilityKeys)">Melee</button> 
                        <button onclick="filterList('abilities', 'range', '30ft', abilityKeys)">30ft</button> 
                        <button onclick="filterList('abilities', 'damage', '1d8', abilityKeys)">1d8</button> 
                        <button onclick="filterList('abilities', 'damage', '2d4', abilityKeys)">2d4</button> 
                        <button onclick="filterList('abilities', 'damage', '2d6', abilityKeys)">2d6</button> 
                        <button onclick="filterList('abilities', 'damage', '3d6', abilityKeys)">3d6</button>
                    </div>
                </td>
            </tr>
            <tr class="listheader">
                <th class="headerSortUp" onclick="sortTable('abilities', 0, this)" data-ascending>Name</th>
                <th onclick="sortTable('abilities', 1, this)" data-ascending>Type</th>
                <th onclick="sortTable('abilities', 2, this)" data-int data-ascending>Range</th>
                <th onclick="sortTable('abilities', 3, this)" data-ascending>Damage</th>
            </tr>
            {{#each abilities}}
            <tr class="clickable-row" id={{abilityID}} onclick="loadElement({{abilityID}}, 'abilityID')">
                <td>{{name}}</td>
                <td>{{damage_type}}</td>
                <td>{{range}}</td>
                <td>{{damage_dice}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="viewcontainer">
        <form id="ability-form">
            <p class='hidden' id="abilityID-display">{{abilities.[0].abilityID}}</p>
            <input class='hidden' type="number" id="abilityID" value={{abilities.[0].abilityID}}></input>
            <table>
                <tr id="row-name">
                    <th>Name</th>
                    <td class='display' colspan='6' id="name-display">{{abilities.[0].name}}</td>
                    <td class='input hidden' colspan='6'><input type="text" id="name" value={{abilities.[0].name}}></input></td>
                </tr>
                <tr id="row-type">
                    <th>Type</th>
                    <td class='display' colspan='6' id="damage_type-display">{{abilities.[0].damage_type}}</td>
                    <td class='input hidden' colspan='6'><input type="text" id="damage_type" value={{abilities.[0].damage_type}}></input></td>
                </tr>
                <tr id="row-damage">
                    <th>Range</th>
                    <td class='display' colspan='2' id="range-display">{{abilities.[0].range}}</td>
                    <td class='input hidden' colspan='2'><input type="text" id="range" value={{abilities.[0].range}}></input></td>
                    <th>Dice</th>
                    <td class='display' colspan='2' id='damage_dice-display'>{{abilities.[0].damage_dice}}</td>
                    <td class='input hidden' colspan='2'><input type="number" id="damage_dice" value={{abilities.[0].damage_dice}}></input></td>
                </tr>
                <tr>
                    <td class="center" colspan=2>
                        <input class='display'  type="button" onclick="swapForm('ability-form', 'add')" value="Add New">
                        <input class='input hidden'  type="button" onclick="confirmChange('ability-form', 'abilityKeys', 'abilityID')" value="Confirm">
                    </td>
                    <td class="center" colspan=2>
                        <input class='display' type="button" onclick="swapForm('ability-form', 'modify')" value="Modify">
                        <input class='input hidden'  type="button" onclick="swapForm('ability-form', 'cancel')" value="Cancel">
                    </td>
                    <td class="center" colspan=2>
                        <input type="button" onclick="deleteElement('abilities', 'abilityID')" value="Delete">
                    </td>
                </tr>
            </table>
    </div>
</div>

