<script src="/js/sortTable.js"></script>
<script src="/js/display.js"></script>
<script>
    var context = '{{#each parties}} { {{#each this}}{{#unless @last}}"{{@key}}":"{{this}}", {{/unless}}{{#if @last}}"{{@key}}":"{{this}}"{{/if}}{{/each}} }, {{/each}}';
    context = context.split("},");
    context.length = context.length-1;
    for(var i = 0; i < context.length; i++) {
        context[i] = context[i] + "}";
        context[i] = context[i].replace("&#x27;", "'");
        context[i] = JSON.parse(context[i]);
    };
</script>
<link rel='stylesheet' type='text/css' href='/css/table.css' />

<div class="viewport">
    <div class="listcontainer">
        <table id="parties">
            <tr>
               <form id="search-form" onsubmit="tagSearch('name', 'search-field', 'partyID'); return false;" method="post">
                   <td colspan='1'><input id="search-field" type="text"></input></td>
                   <td><input type="submit" value="Search"></td>
                </form> 
            </tr>
            <tr>
                <th onclick="sortTable('parties', 0, this)" data-ascending>Name</th>
                <th onclick="sortTable('parties', 1, this)" data-ascending>Members</th>
            </tr>
            {{#each parties}}
            <tr class="clickable-row" id={{partyID}} onclick="loadElement({{partyID}}, 'partyID')">
                <td>{{name}}</td>
                <td class="center">{{members}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="viewcontainer" id="display">
        <form id="party-form">
            <p class='hidden' id="partyID-display">{{parties.[0].partyID}}</p>
            <input class='hidden' type="number" id="partyID" value={{parties.[0].partyID}}></input>
            <table>
                <tr id="row-name">
                    <th>Name</th>
                    <td class='display' colspan='5' id="name-display">{{parties.[0].name}}</td>
                    <td class='input hidden' colspan='5'><input type="text" id="name" value={{parties.[0].name}}></input></td>
                </tr>
                <tr id="row-race">
                    <th>Race</th>
                    <td class='display' colspan='5' id="race-display">{{parties.[0].race}}</td>
                    <td class='input hidden' colspan='5'><input type="text" id="race" value={{parties.[0].race}}></input></td>
                </tr>
                
                <tr>
                    <td class="center" colspan=2>
                        <input class='display'  type="button" onclick="swapForm('party-form', 'add')" value="Add New">
                        <input class='input hidden'  type="button" onclick="confirmChange('party-form', 'partyKeys', 'partyID')" value="Confirm">
                    </td>
                    <td class="center" colspan=2>
                        <input class='display' type="button" onclick="swapForm('party-form', 'modify')" value="Modify">
                        <input class='input hidden'  type="button" onclick="swapForm('party-form', 'cancel')" value="Cancel">
                    </td>
                    <td class="center" colspan=2>
                        <input type="button" onclick="deleteElement('parties', 'partyID')" value="Delete">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>